:root {
  --font-large: 32px;
  --font-medium: 28px;
  --font-normal: 18px;
  --font-small: 14px;

  --font-bold: 700;
  --font-semi-bold: 600;
  --font-regular: 400;

  --khaki: #4b8569;
  --blue: #b9cfe9;
  --grey: #d7dae2;
  --navy: #556f94;

  --border-normal: 1rem;

  --shadow-normal: 2px 2px 5px rgba(0, 0, 0, 0.15);

  --scale-normal: scale(1.03);
}
